<style>
    body {
        background-color: #052c53;
        color: white;
        font-family: Arial, sans-serif;
    }

    h1 {
        color: #094c90;
    }

    label {
        color: #9001d;
    }

    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="password"],
    select {
        background-color: #097188;
        border: none;
        color: white;
        padding: 8px;
        margin: 5px 0;
        border-radius: 5px;
    }

    input[type="submit"] {
        background-color: #962234;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #094c90;
    }
</style>
