body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

h1 {
    color: #333;
}

form {
    max-width: 500px;
    padding: 20px;
    background-color: #ffffff; /* Cor de fundo do formulário */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: blue;
    color: black;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: red;
}
