/* :root{
    font-size: 62.5%;
  }
   */

.cor_nome{
    color: #90091d;
}
 .configuracoes_logo{
    background-color: #097188;

} 
.redes{
    width: 30%;
    height: 30%;
    }

 .fonte_navBar{
     font-family: 'Signika Negative', sans-serif;
 }

.margem_section13{
    margin-left: 7.75vw;
}
.background_section24{
    background-color: #097188;
    color: white;
}
.margem_div_section3{
    margin: 7.75vw;
}

.botaoPadrao{
    background-color: #097188;
    color: white;
}

.botaoPadraoVoltar{
    background-color: #90091d;
    color: white;
}


.botaoPadrao:hover{
    background-color: #90091d;
    color: white;
}

.botaoPadraoVoltar:hover{
    background-color: #097188;
    color: white;
}


/* section cards */

.card {
    transition: transform 0.3s ease-in-out;
    width: 18rem;
    border: solid 2px #e7e7e7;
}

.card:hover {
    transform: scale(1.08);
}

.card-1 {
    transition: transform 0.3s ease-in-out;
    width: 18rem;
    border: solid 2px #e7e7e7;
}

.card-1:hover {
    transform: scale(1.08);
}
.icons{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.card img{
    height: 12rem;
}