/* .Espacamento_CaixaDePesquisa{
    display: flex;
    justify-content: center;
} */

 .configuracoes_logo{
    background-color: #097188;

} 
.redes{
    width: 30%;
    height: 30%;
    }

    .fonte_navBar{
        font-family: 'Signika Negative', sans-serif;
    }
